:root {
  --bs-primary: #335c41;
  --bs-primary-rgb: 51, 92, 13;
  --bs-primary-text-emphasis: #50823c;
  --bs-primary-bg-subtle: #14f560;
  --bs-primary-border-subtle: #14f560;
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary-bg-subtle);
  --bs-btn-hover-border-color: var(--bs-primary-border-subtle);

  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);

  --bs-btn-disabled-color: var(--bs-primary-text-emphasis);
  --bs-btn-disabled-bg: var(--bs-primary-text-emphasis);
  --bs-btn-disabled-border-color: var(--bs-primary-text-emphasis);
}
